body{
    background:#D3D2D8;
}
h1,h2,h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:50%;
    margin-top: 40px;
}
p{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: rgb(180, 180, 170);
    background: #252526;
    padding: 20px 20px;
    border-radius: 6px;
}